.top-nav li{
  display: inline;
  text-transform: uppercase;

}
.nav-item a{
  text-decoration: none;
  border-color: darkolivegreen;
  padding: 20px;
  width: 20px;
  color: teal;
}

.nav-item{
  text-decoration: none;
  border-color: darkolivegreen;
  pointer: cursor;
}