.top-nav li{
  display: inline;
  text-transform: uppercase;
}
.nav-item a{
  text-decoration: none;
  border-color: darkolivegreen;
  padding: 20px;
  width: 20px;
  color: #0a2a66;
}

.nav-item{
  text-decoration: none;
  border-color: darkolivegreen;
  pointer: cursor;
}