form > div {
  width: 100%;
  margin-bottom: 1em;

}
form > div > label {
  display: block;
  margin-bottom: 0.3em;
  color: #15AA9D;

}
form > div > input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 15px;
  border: 2px solid #EAAA00;
  color: #EAAA00;
  margin-left: 100px;
}




